.footer {
    padding: 40px 20px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--bg-sepia);
}

.contents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 28px;
    overflow: hidden;
}

.left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
    gap: 24px;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text__title {
    font-family: var(--font-pretendard);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--font-white);
}

.text__content {
    text-align: center;
    font-family: var(--font-pretendard);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    color: var(--font-white);
}

.text__description {
    font-family: var(--font-pretendard);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    color: var(--font-white);
}

.line__vectical {
    width: 1px;
    height: 16px;
    background: #FFFFFF;
}

.center {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: flex-start;
    gap: 4px;
}

.docs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.docs__item {
    font-family: var(--font-pretendard);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: var(--font-white);
}

.right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    place-items: flex-start;
    gap: 6px;
    overflow: hidden;
}

.info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 2px;
}

.copyright {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    place-items: center;
    gap: 6px;
}

.copyright__text {
    text-align: center;
    font-family: var(--font-eb-garamond);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: var(--font-white);
}

.line {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}

.separator {
    display: none;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}

@media screen and (max-width: 500px) {

    .footer {
        padding: var(--section-padding-3) 20px;
    }

    .contents {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        gap: var(--contents-gap-3);
    }

    .separator {
        display: unset;
    }

}