.button {
    padding: 5px 16px;
    width: 100%;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--bg-sepia);
}

.small {
    width: max-content;
    max-width: unset;
}

.sepia {
    background: #544E43;
}

.warmgrey {
    background: var(--bg-warmgrey);
}

.button img {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.button span {
    text-align: center;
    font-family: "EB Garamond", "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--font-white);
}